<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title id="pageTitle">Project manager</title>
</head>
<body>
    <div th:fragment="content">

        <ol class="breadcrumb">
            <li><a th:href="@{/project/}">Projects</a></li>
            <li class="active" th:text="'Project: ' + ${project.name}"></li>
        </ol>

        <h1 class="text-center" th:text="'Project: ' + ${project.name}"></h1>

        <h3>Add user to project</h3>
        <br/>

        <div th:if="${statement}" class="alert alert-success">
            <strong th:text="${statement}"></strong>
        </div>

        <form th:action="@{/project/}+${id}+@{/project-participant/add}" th:method="post" th:object="${usersParticipants}">

            <div class="alert alert-danger" th:if="${#fields.hasErrors('users')}">
                <strong th:errors="*{users}"></strong>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>id</th>
                        <th>username</th>
                        <th>email</th>
                        <th>enable</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user : ${AllUsers}">
                        <td>
                            <label>
                                <input type="checkbox" th:value="${user.id}" th:field="*{users}"/>
                            </label>
                        </td>
                        <td th:text="${user.id}"></td>
                        <td th:text="${user.username}"></td>
                        <td th:text="${user.email}"></td>
                        <td th:text="${user.enable}"></td>
                    </tr>
                </tbody>
            </table>

            <button type="submit" class="btn btn-primary btn-lg position-save">save</button>
        </form>

    </div>

    <div th:fragment="footer"></div>
</body>
</html>