<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
	<meta charset="UTF-8"/>
	<title id="pageTitle">Projects list</title>
</head>
<body>
	<div th:fragment="content">
		<div class="row">
			<div class="col-lg-6">
				<h1>Projects</h1>
			</div>
			<div class="col-lg-6">
				<h3 class="pull-right"><a th:href="@{/project/add}">add project</a></h3>
			</div>
		</div>

		<div th:if="${statement}" class="alert alert-success">
			<strong th:text="${statement}"></strong>
		</div>

		  <table class="table">
			<thead>
			  <tr>
				<th>id</th>
				<th>name</th>
				<th>description</th>
				<th>created at</th>
				<th>created by</th>
				<th></th>
				<th></th>
				<th></th>
			  </tr>
			</thead>
			<tbody>
			   <tr th:each="project : ${projects}">
				 <td th:text="${project.id}"></td>
				 <td th:text="${project.name}"></td>
				 <td th:text="${project.description}"></td>
				 <td th:text="${project.createdAt}"></td>
				 <td th:text="${project.createdBy.username}"></td>
				 <td>
					<a class="btn btn-primary" th:href="@{/project/update/}+${project.id}">edit</a>
				 </td>
			     <td>
					<a class="btn btn-default" th:href="@{/backlog/project/}+${project.id}">backlog</a>
				 </td>
			     <td>
					<a class="btn btn-info" th:href="@{/project/}+${project.id}+@{/project_manager}">project manager</a>
				 </td>
			   </tr>
			</tbody>
		  </table>

		  <!--<ul class="nav nav-pills">-->
		  	<!--<li class="nav-item" th:each="i : ${#numbers.sequence(0, projects.totalPages-1)}"-->
		  	 <!--th:classappend="${currentPage} == ${i} ? 'active' : '' ">-->
		  		<!--<a th:href="@{/project/(page=${i})}" class="nav-link" th:text="${i}"></a>-->
		  	<!--</li>-->
		  <!--</ul>-->
	</div>

	<div th:fragment="footer"></div>
</body>
</html>