<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title id="pageTitle">Edit task</title>
</head>
<body>
    <div th:fragment="content">

        <ol class="breadcrumb">
            <li><a th:href="@{/project/}">Projects</a></li>
            <li><a th:href="@{/backlog/project/}+${projectId}">Backlog</a></li>
            <li><a th:href="@{/project/}+${projectId}+@{/sprint/}+${task.sprint.id}" th:text="'Sprint: ' + ${task.sprint.name}"></a></li>
            <li class="active" th:text="'Edit Task: '+${task.name}"></li>
        </ol>

        <h1 class="text-center" th:text="'Edit Task: '+${task.name}"></h1>

        <br/>

        <form id="task-form" class="form-horizontal" action="#" th:action="@{/project/}+${projectId}+@{/task/update/}+${task.id}" th:object="${task}" th:method="put">
            <fieldset>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="name">Name:</label>
                    <div class="col-md-4">
                        <input id="name" th:field="*{name}" placeholder="name" class="form-control input-md" required="" type="text" th:value="${task.name}"/>

                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="description">Description:</label>
                    <div class="col-md-4">
                        <textarea id="description" th:field="*{description}" placeholder="description" class="form-control input-md" required="" type="text" th:value="${task.description}" rows="4"></textarea>

                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="status">Assignee:</label>
                    <div class="col-md-4">
                        <select class="form-control" id="user" th:field="*{assignee}">
                            <option th:each="user : ${users}" th:text="${user.username}" th:value="${user.id}"
                                    th:classapped="${user} == ${task.assignee} ? 'active' : '' "></option>
                        </select>
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="estimate">Estimate (hour):</label>
                    <div class="col-md-4">
                        <input id="estimate" th:field="*{estimate}" placeholder="estimate" class="form-control input-md" required="" type="number" th:value="${task.estimate}"/>

                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="priority">Priority</label>
                    <div class="col-md-4">
                        <select class="form-control" id="priority" th:field="*{priority}">
                            <option th:each="priority : ${taskPriority}" th:text="${priority}" th:value="${priority}"
                                    th:classappend="${task.priority} == ${priority} ? 'active' : '' "></option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="sprint">Sprint</label>
                    <div class="col-md-4">
                        <select class="form-control" id="sprint" th:field="*{sprint}">
                            <option th:each="sprint : ${sprints}" th:text="${sprint.name}" th:value="${sprint.id}"
                                    th:classappend="${sprint} == ${task.sprint} ? 'active' : '' "></option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="status">Status</label>
                    <div class="col-md-4">
                        <select class="form-control" id="status" th:field="*{status}">
                            <option th:each="status : ${taskStatuses}" th:text="${status}" th:value="${status}"
                                    th:classappend="${task.status} == ${status} ? 'active' : '' "></option>
                        </select>
                    </div>
                </div>

            </fieldset>
            <button type="submit" class="btn btn-primary pull-right" id="task-update">Update task</button>
            <br/>
            <br/>
            <br/>
        </form>

        <form id="comment-form" class="form-horizontal" action="#" th:action="@{/task/}+${task.id}+@{/comment/add}" th:object="${taskComment}" th:method="post">

            <div class="form-group">
                <!--<label class="col-md-4 control-label" for="comment"></label>-->
                    <textarea th:field="*{comment}" placeholder="add comment" class="form-control input-md textarea-add-comment"
                                                  required="" th:value="${taskComment.comment}" rows="4" cols="5"></textarea>
                    <br/>
                    <button type="submit" class="btn btn-primary pull-right">Add comment</button>
            </div>

        </form>
        <br/>
        <form th:id="'comment-form-'+${taskComment.id}" class="comments-form form-horizontal"
              action="#" th:action="@{/task/}+${task.id}+@{/comment/update/}+${taskComment.id}"
              th:method="put"
              th:each="taskComment : ${taskComments}" th:object="${taskComment}">

            <div class="form-group">
                    <!--<label class="col-md-4 control-label" for="comment"></label>-->
                    <textarea th:field="*{comment}" placeholder="add comment" class="form-control input-md textarea-add-comment"
                                  required="" th:value="${taskComment.comment}" rows="4" cols="5" th:text="${taskComment.comment}" th:disabled="${taskComment.comment}"></textarea>

                <br/>
                <div class="row">
                    <div class="col-lg-8">
                        <div class="col-lg-2"><strong style="display: inline-block">Comment by:</strong></div>
                        <div class="col-lg-2"><p  th:text="${taskComment.user.username}"></p></div>
                        <div class="col-lg-2"><strong>Date created:</strong></div>
                        <div class="col-lg-3"><p th:text="${taskComment.createdAt}"></p></div>
                    </div>
                    <div class="col-lg-4">
                        <a th:if="${#authentication.principal.username == taskComment.user.username and #authorization.expression('hasRole(''ROLE_DEVELOPER'')')}
												  or
												  ${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"
                           th:href="@{/task/}+${task.id}+@{/comment/delete/}+${taskComment.id}"
                           class="btn btn-danger pull-right delete-comment">delete</a>
                            <button th:if="${#authentication.principal.username == taskComment.user.username and #authorization.expression('hasRole(''ROLE_DEVELOPER'')')}
												  or
												  ${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"
                                    class="btn btn-primary pull-right edit-task-comment">edit</button>
                        <button type="submit" class="btn btn-primary pull-right hidden save-comment" th:attr="data-task-comment-id=${taskComment.id}">save</button>
                        <button class="btn btn-default pull-right hidden cancel-edit-comment">cancel</button>
                    </div>
                </div>

                <br/>
            </div>

        </form>

    </div>

    <div th:fragment="footer">
        <script type="text/javascript" th:src="@{/js/task/edit.js}"></script>
    </div>
</body>

</html>