<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
	<meta charset="UTF-8"/>
	<title id="pageTitle">User create</title>
</head>
<body>
	<div th:fragment="content">

		<ol class="breadcrumb">
			<li><a th:href="@{/secured/user/}">Users</a></li>
			<li class="active">Create user</li>
		</ol>

		<form class="form-horizontal" action="#" th:action="@{/secured/user/add}" th:object="${user}" method="post">
			<fieldset>
			
			<!-- Form Name -->
			<legend class="text-center">Create user</legend>
			
			<!-- Text input-->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="username">Username:</label>
			  <div class="col-md-4">
			  <input id="username" th:field="*{username}" placeholder="username" class="form-control input-md" required="" type="text"/>
			    <pr th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="error"></pr>
			  </div>
			</div>
			
			<!-- Text input-->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="email">Email:</label>
			  <div class="col-md-4">
			  <input id="email" th:field="*{email}" placeholder="email" class="form-control input-md" required="" type="text"/>
				  <pr th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error"></pr>
			  </div>
			</div>
			
			<!-- Password input-->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="password">Password:</label>
			  <div class="col-md-4">
			    <input id="password" th:field="*{password}" placeholder="password" class="form-control input-md" required="" type="password"/>
				  <pr th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error"></pr>
			  </div>
			</div>

			<div class="form-group">
				<label class="col-md-4 control-label" for="status">Status:</label>
				<div class="col-md-4">
					<select class="form-control" id="status" th:field="*{userRoles}">
						<option th:each="role : ${allUserRoles}" th:text="${role.name}" th:value="${role.id}"></option>
						<!--th:classapped="${role.name} == ${project.status} ? 'active' : '' "-->
					</select>
					<pr th:if="${#fields.hasErrors('userRoles')}" th:errors="*{userRoles}" class="error"></pr>
				</div>
			</div>

			<!-- Button -->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="create"></label>
			  <div class="col-md-4">
			    <button id="create" name="create" class="btn btn-primary" type="submit">create</button>
			  </div>
			</div>

			</fieldset>
		</form>
	</div>
</body>
</html>