.hidden{
    display: none;
}

.position-save { position: fixed; top: 50px; right: 50px; }

.panel-heading>a{
    cursor: pointer;
}

.cancel-edit-comment{
    margin: 0px 15px;
}

.delete-comment{
    margin: 0 0 0 15px;
}

.error{
    color: #DE2C2C;
}

textarea{
    resize: none;
}

.go-to{
    width: 65px;
}

.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}

.counter{
    background: #e9e9e9;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    padding-top: 5px;
}